
/* navbar background color */
.navbar {
    background-color:rgba(0, 0, 0, 0.699);
    margin-bottom: 2%;
    color: white;
    height: 75px;
}
/* heading for navbar */
.nav-item {
    color: white;
    margin: 10px;
}
.navbar-brand {
    color: white;
    font-weight: bold;
}
/* links in navbar */
.nav-link {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}
/* Toggler color */
.navbar-toggler-icon {
    background-color: rgb(255, 255, 255);
}

/* Site title - White and on hover inc size and fade */
#site-title {
    font-size: 30pt;
    color:rgb(255, 255, 255)

}
#site-title:hover {
    font-size: 30.3pt;
    color:rgb(26, 102, 241);
    
}
/* below has been commented out dont think I will need*/

/* ul {
    list-style: none;
} */